/*  your css code here. If applicable */
.hero{
	width:100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:column;
	gap:30px;
}

img{
	width:80%;
	height:80%;
	object-fit:cursive
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:20px;
}