/*  your css code here. If applicable */
.hero{
	width:100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	/* flex-direction:row; */
	gap:30px;
}
.content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}

img{
	width:400px;
	height:200px;
	 object-fit:cover
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
}